<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Autosalon</title>
</head>
<body>

<h1>Sistem za upravljanje autosalonom</h1>

<h2>Entiteti</h2>
<ul>
    <li><a href="/automobili">Automobili</a></li>
    <li><a href="/kupci">Kupci</a></li>
    <li><a href="/prodaje">Prodaje</a></li>
    <li><a href="/zaposleni">Zaposleni</a></li>
    <li><a href="/saloni">Saloni</a></li>
    <li><a href="/oprema">Oprema</a></li>
    
</ul>


<h2>Poslovne funkcionalnosti</h2>


<ul>
   <li><a href="/automobili/dostupni">Prikaz dostupnih automobila</a></li>
   <li><a href="/automobili/pretraga">Pretraga automobila po marki</a></li>
   <li><a href="/prodaje">Prikaz prodaja po kupcu</a></li>
   <li><a href="/prodaje">Prikaz prodaja po zaposlenom</a></li>
   <li><a href="/prodaje/ukupan-prihod">Ukupan prihod od prodaja</a></li>
</ul>



</body>
</html>