<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Salon forma</title>
</head>
<body>

<h1>Dodavanje / Izmena salona</h1>

<form th:action="@{/saloni}" th:object="${salon}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>
        Naziv:
        <input type="text" th:field="*{naziv}" required>
    </p>

    <p>
        Adresa:
        <input type="text" th:field="*{adresa}" required>
    </p>

    <p>
        Grad:
        <input type="text" th:field="*{grad}" required>
    </p>

    <p>
        Telefon:
        <input type="text" th:field="*{telefon}" required>
    </p>
    <button type="submit">Sacuvaj</button>
</form>
<br>
<a href="/saloni">Nazad</a>

</body>
</html>